{% extends "bonnes_lectures/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Liste des livres{% endblock %}

{% block content %}
    <table>
        {% for book in all_books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.year }}</td>
            <td>
                <a href={% url 'book' book.id %}>voir</a>,
                <a href={% url 'edit_book' book.id %}>modifier</a>,
                <a href={% url 'delete_book' book.id %}>effacer</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}