{% extends "bonnes_lectures/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Liste des livres{% endblock %}

{% block content %}
<body>
    <h1>{{ book.title }}</h1>
    <ul>
        <li><b>Editeur : {{ book.publisher }}</b></li>
        <li><b>ISBN : {{ book.isbn }}</b></li>
        <li><b>Date de publication : {{ book.year }}</b></li>
    </ul>
    <a href={% url 'delete_book' book.id %}>effacer le livre</a>

    <h2>Avis</h2>
<ul>
    {% for review in reviews %}
        <li>
            {{ review.date }} : {{ review.text }}
            <a href="{% url 'edit_review' review.id %}">Modifier</a>
            <a href="{% url 'delete_review' review.id %}">Supprimer</a>
        </li>
    {% empty %}
        <li>Aucun avis pour ce livre.</li>
    {% endfor %}
</ul>

<a href="{% url 'add_review' book.id %}">Ajouter un avis</a>
</body>
{% endblock %}