<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
</head>

<body>
    <h1>Bonnes lectures</h1>
    <table>
        {% for book in all_books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.year }}</td>
            <td>
                <a href={% url 'book' book.id %}>voir</a>,
                <a href={% url 'delete_book' book.id %}>effacer</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <p><a href={% url "new_book" %}>Nouveau livre</a></p>
</body>

</html>